<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>记账本细节</title>
    <link rel="stylesheet" href="../stylesheets/detail.css">
    <style>
        .addbtn{
            position: absolute;
            right: 35px;
            top: 20px;
            padding: 5px;
            background-color: aquamarine;
            border-radius: 5px;
        }
    </style>
</head>

<body class="bg-gray-100 font-sans">
    <div class="bg-white h-screen">
        <h1 class="text-3xl font-semibold p-4">记账本</h1>
        <button class="addbtn"><a href="/account">添加新记账</a></button>
        <hr class="mb-4">
        <section class="p-4 space-y-4">
            <!-- Entry 1 -->

            <% list.forEach(item => { %>
            <div class="bg-blue-100 rounded-lg">
                <h2 class="text-3xl <%= item["类型"] === '1'?'bg-green-500':'bg-red-500' %> rounded-sm h-10"><%=item["时间"].toLocaleString() %></h2>
                <div class="flex justify-between items-center mt-4 py-3">
                    <div class="w-3/6 pr-2">
                        <span class="underline underline-offset-4  
                        decoration-red-500 text-slate-950"><%=item["备注"] %></span>
                    </div>
                    <div class="w-1/6">
                        <button class="<%= item["类型"] === '1'?'bg-blue-500':'bg-orange-500' %> text-white rounded-full py-1 px-2">
                            <%= item["类型"] === '1'?'收入':'支出' %></button>
                    </div>
                    <div class="w-1/6">
                        <span class="text-green-500">$<%=item["金额"] %></span>
                    </div>
                    <div class="w-1/6">
                        <button
                            class="transition ease-in-out delay-150 bg-red-500 hover:-translate-y-1 hover:scale-150 hover:bg-red-300 duration-300 ">
                            <a href="/detail/<%=item._id %>" class="delBtn"><img src="https://api.iconify.design/icon-park:close.svg"
                                class=" w-5 h-5 object-cover text-red-600"></a>
                        </button>
                    </div>
                </div>
            </div>
            <% }) %>
            <!-- Entry 2 (You can repeat this for multiple entries) -->
            <div class="bg-blue-100 rounded-lg ">
                <h2 class="text-3xl bg-green-500 rounded-sm h-10">日期</h2>
                <div class="flex justify-between items-center mt-4 py-3">
                    <div class="w-3/6 pr-2">
                        <span class="underline  underline-offset-4 text-black decoration-red-500  ">留言: Some
                            Message</span>
                    </div>
                    <div class="w-1/6">
                        <button class="bg-orange-500 text-white rounded-full py-1 px-2">支出</button>
                    </div>
                    <div class="w-1/6">
                        <span class="text-green-500">$100.00</span>
                    </div>
                    <div class="w-1/6">
                        <button
                            class="transition ease-in-out delay-150 bg-red-500 hover:-translate-y-1 hover:scale-150 hover:bg-red-300 duration-300 ">
                            <img src="https://api.iconify.design/icon-park:close.svg"
                                class=" w-5 h-5 object-cover ">
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
<script>
    document.querySelectorAll('.delBtn').forEach(item => {
        item.addEventListener('click', (e) => {
            if(confirm("确认删除?")){
            return;}
            else e.preventDefault();
})
    })
      
</script>
</html>